{% extends 'base.html' %}
{% load static %}
{% block title %} Our Ambulance {% endblock %}
{% block content %}

    <!-- our ambulance starts -->

    <section class="ambulances">

        <h1 class="heading"> Ambulances </h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src= "{% static 'image/ambulacncee.jpg' %}">
                </div>
                <div class="content">
                    <h3>Ambulance 01</h3>
                    <p>Area: Dillibazar</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 5/km </span>
                        <span> <i class="fas fa-clock"></i> 24 Hours </span>
                    </div>
                </div>
            </div> 
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/ambulacncee.jpg' %}">
                </div>
                <div class="content">
                    <h3>Ambulance 02</h3>
                    <p>Area: Balaju</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 6/km </span>
                        <span> <i class="fas fa-clock"></i> 24 Hours </span>
                    </div>
                </div>
            </div> 
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/ambulacncee.jpg' %}">
                </div>
                <div class="content">
                    <h3>Ambulance 03</h3>
                    <p>Area: Baneshwor</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 5/km </span>
                        <span> <i class="fas fa-clock"></i> 24 Hours </span>
                    </div>
                </div>
            </div>  
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/ambulacncee.jpg' %}">
                </div>
                <div class="content">
                    <h3>Ambulance 04</h3>
                    <p>Area: Koteshwor</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 7/km </span>
                        <span> <i class="fas fa-clock"></i> 24 Hours </span>
                    </div>
                </div>
            </div> 
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/ambulacncee.jpg' %}">
                </div>
                <div class="content">
                    <h3>Ambulance 05</h3>
                    <p>Area: Chabahil</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 4/km </span>
                        <span> <i class="fas fa-clock"></i> 24 Hours </span>
                    </div>
                </div>
            </div> 
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/ambulacncee.jpg' %}">
                </div>
                <div class="content">
                    <h3>Ambulance 06</h3>
                    <p>Area: Satungal</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 8/km </span>
                        <span> <i class="fas fa-clock"></i> 24 Hours </span>
                    </div>
                </div>
            </div> 
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/ambulacncee.jpg' %}">
                </div>
                <div class="content">
                    <h3>Ambulance 07</h3>
                    <p>Area: Bhaktapur</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 6/km </span>
                        <span> <i class="fas fa-clock"></i> 24 Hours </span>
                    </div>
                </div>
            </div> 
            
        </div>
        
    </section>

{% endblock %}