{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block content %}

    <!-- blogs  section starts  -->

    <section class="blog2" id="blog2">

        <div class="image">
            <img src= "{% static 'image/blog/virus-g05ba42a28_640.jpg' %}" alt="">
        </div>
    
        <div class="content">
            <h3 class="title">Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ut explicabo, numquam iusto est a ipsum assumenda tempore esse corporis?</p>
        </div>
    
    </section>

    <!-- blogs  section ends -->

    
{% endblock %}