
{% load static %}
{% block title %} Cart {% endblock %}
{% block content %}


<link rel="shortcut icon" href=" {% static 'image/logo.png' %}">
 <!--TITLE-->
<title>Mediserv+ | Cart</title>

<link rel="shortcut icon" href=" {% static 'image/logo.png' %}">

<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="container flex">
    <div class="structure">
      <a href="{% url 'Home:home' %}"   class="btncont"><b> &#8592 Continue Shopping</b></a>
      <h1>Shopping cart</h1>
      
      <table id="table">
        <thead>
          <tr>
            <th>Image</th>
         
            <th>Product name</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Action</th>
          </tr>
        </thead>
       
        {% for p in cart_items %}
        <tbody id="all_products">
          <tr>
            <td>
              
            <img src="{{ p.product.product_image.url }}" style="width:17%"  alt="">
            </td>
            <td>{{ p.product.name }}</td>
            <td>{{ p.product.price }}</td>
          
            <td >{{p.number_of_products}} </td>
            <td > {{p.number_of_products}}*{{p.product.price}} </td>
            <td class="remove">
              <a href = "{% url 'Home:remove'  p.pk  %}" type=button >Remove</a>
            </td>
            <td class="edit">
              <a href = "{% url 'Home:editCartItem' p.pk %}" type=button >Edit</a>
            </td>

          </tr>
      
        </tbody>
        {% endfor %}
           
      </table>
      
      
      <a href="{% url 'Home:prescription' %} " class="btndanger">Checkout</a>
      
    </div>
    
  </div>

<style>
    
    .btndanger {
        display: inline-block;
        margin-top: 1rem;
        padding: .9rem 1rem;
        border-radius: .5rem;
        background: #51b6b6;
        color: black;
        font-size: 1.4rem;
        cursor: pointer;
        text-decoration:none;
    }

    .btncont {
      display: inline-block;
      margin-top: 0rem;
      
      border-radius: .5rem;
      background: #51b6b6;  
      color: red;
      font-size: 1.4rem;
      cursor: pointer;
      text-decoration:none;
  }
</style>

{% endblock %}  


 
