{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block content %}

    <!-- contact section starts  -->

    <section class="contact">

        <h1 class="heading"> Contact <span>Us</span> </h1>
        {% include 'includes/messages.html' %}
     
        <div class="row">
     
           <div class="image">
              <img src="{% static 'image/pngwing.com (5).png' %}" alt="">
           </div>
            <form method="POST" enctype="multipart/form-data" action="{% url 'Home:contactus' %}" class="contact-form">
            {% csrf_token %}
              <h3>Send us a message</h3>
              <input type="text" placeholder="Full Name" name="name" class="box">
              <input type="email" placeholder="Email" name="email" class="box">
              <input type="number" placeholder="Phone" name="number" class="box">
              <textarea name="message" class="box" placeholder="Message" id="" cols="30" rows="10"></textarea>
              <input type="submit" value="Send Message" class="Contact">
            </form>
     
        </div>
     
     </section>

    <!-- contact section ends -->

{% endblock %}