{% extends 'base.html' %}
{% load static %}
{% block title %} Our Doctors {% endblock %}
{% block content %}

    <!-- our doctors ends -->

    <section class="doctors">

        <h1 class="heading"> Our Famous Doctors </h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="{% static 'image/anup.png' %}">
                </div>
                <div class="content">
                    <h3>Dr. Anup Burlakoti</h3>
                    <p>Physiotherapist</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 10000 </span>
                        <span> <i class="fas fa-clock"></i> 5 PM - 8 PM </span>
                    </div>
                </div>
            </div>  
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/kishan.jpg' %}">
                </div>
                <div class="content">
                    <h3>Dr. Kishan Jaiswal</h3>
                    <p>Emergency physicians</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 8000 </span>
                        <span> <i class="fas fa-clock"></i> 1 PM - 8 PM </span>
                    </div>
                </div>
            </div>  
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/tanuja.jpg' %}">
                </div>
                <div class="content">
                    <h3>Dr. Tanuja Bastola</h3>
                    <p>Neurologists</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 9000 </span>
                        <span> <i class="fas fa-clock"></i> 3 PM - 8 PM </span>
                    </div>
                </div>
            </div>  
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/nitesh.jpg' %}">
                </div>
                <div class="content">
                    <h3>Dr. Nitesh Yadav</h3>
                    <p>Radiologists</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 7000 </span>
                        <span> <i class="fas fa-clock"></i> 9 AM - 5 PM </span>
                    </div>
                </div>
            </div>  
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/ishwor.jpg' %}">
                </div>
                <div class="content">
                    <h3>Dr. Ishwor Khadka</h3>
                    <p>Family physicians</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 8000 </span>
                        <span> <i class="fas fa-clock"></i> 7 AM - 2 PM </span>
                    </div>
                </div>
            </div>  
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/prashanta.jpg' %}">
                </div>
                <div class="content">
                    <h3>Dr. Prashanta Timilsena</h3>
                    <p>Surgeon</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 10000 </span>
                        <span> <i class="fas fa-clock"></i> 4 PM - 9 PM </span>
                    </div>
                </div>
            </div>  
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/prashant.jpg' %}">
                </div>
                <div class="content">
                    <h3>Dr. Prashant Rana Magar</h3>
                    <p>Psychiatrists</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 9000 </span>
                        <span> <i class="fas fa-clock"></i> 9 PM - 3 AM </span>
                    </div>
                </div>
            </div>  
            <div class="box">
                <div class="image">
                    <img src="{% static 'image/marina.png' %}">
                </div>
                <div class="content">
                    <h3>Dr. Marina Gansi</h3>
                    <p>Gynecologists</p>
                    <div class="icons">
                        <span> <i class="fas fa-money-bill"></i> Nrs. 9000 </span>
                        <span> <i class="fas fa-clock"></i> 4 PM - 11 PM </span>
                    </div>
                </div>
            </div>  


        </div>
    </section>

{% endblock %}