{% extends 'base.html' %}
{% load static %}
{% block title %} Help {% endblock %}
{% block content %}

 <!-- faq section starts  -->

 <section class="faq">

    <h1 class="heading">Frequently Asked Questions</h1>

    <div class="accordion-container">

      <div class="accordion active">
        <div class="accordion-heading">
          <h3>Question 1</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>

      <div class="accordion">
        <div class="accordion-heading">
          <h3>Question 2</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>

      <div class="accordion">
        <div class="accordion-heading">
          <h3>Question 3</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>

      <div class="accordion">
        <div class="accordion-heading">
          <h3>Question 4</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>

      <div class="accordion">
        <div class="accordion-heading">
          <h3>Question 5</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>

      <div class="accordion">
        <div class="accordion-heading">
          <h3>Question 6</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>
      <div class="accordion">
        <div class="accordion-heading">
          <h3>Question 7</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>
      <div class="accordion">
        <div class="accordion-heading">
          <h3>Question 8</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>
      <div class="accordion">
        <div class="accordion-heading">
          <h3>Question 9</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>
      <div class="accordion">
        <div class="accordion-heading">
          <h3>Question 10</h3>
          <i class="fas fa-angle-down"></i>
        </div>
        <p class="accordion-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequatur molestias deserunt facere laborum
          doloremque fuga, quae aut. Recusandae officia quis temporibus! Magnam mollitia nostrum voluptatibus deserunt
          quidem. Natus, quo.
        </p>
      </div>

    </div>

  </section>

  <!-- faq section ends -->
  <script src="{% static 'js/faq.js' %}"></script>

  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
{% endblock %}