{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

<!-- home section starts  -->

<section class="home">
    {% if user.is_authenticated %}
    <div class="content">
        <h3>Mediserv+</h3>
        <h1>Get your skin a little love</h1>
        <a href="{% url 'Home:shop' %}" class="btn">Shop Now</a>
    </div>

    <div class="image">
        <img src="{% static 'image/homemain.png' %}" alt="">
    </div>

    {% else %}

    <div class="content">
        <h3>Mediserv+</h3>
        <h1>Get your skin a little love</h1>
        <a href="{% url 'Home:login' %}" class="btn">Shop Now</a>
    </div>

    <div class="image">
        <img src="{% static 'image/homemain.png' %}" alt="">
    </div>

    {% endif %}

</section>

<!-- home section ends -->

<!-- recently viewed section starts -->

{% if user.is_authenticated %}
<section class="rv" id="rv">

    <h1 class="heading"> <span>Recently</span> Viewed </h1>

    <div class="swiper rv-slider">

        <div class="swiper-wrapper">
            {% for p in recently_viewed %}
            <form action="{% url 'Home:addcart' p.id  %}" method="POST">
            {% csrf_token %}
            <div class="swiper-slide slide">
                <a href="#" class="btn2">{{ p.available }}</a>
                <div class="icons">
                    <button type="submit" class="btn-cart"> Add to Cart
                    </button>
                    <a href="{% url 'Home:cart' %}" type="submit" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-info-circle"></a>
                </div>
                <div class="image">
                    <img src="{{ p.product_image.url }}" alt="">
                </div>
                <div class="content">
                    <h3>{{p.name}}</h3>
                    <h2>{{p.price}}</h3>
                </div>
            </div>
            </form>
            {% endfor %}
            
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>
    

<!-- recently viewed section ends  -->

<!-- video section starts -->

<section class="about" id="about">

    <div class="video-container" data-aos="fade-right" data-aos-delay="300">
        <video src= "{% static 'image/The best care for your skin..mp4' %}" muted autoplay loop class="video"></video>
    </div>
</section>

<!-- video section ends -->

<!-- Featured product section starts -->
<section class="featured" id="featured">

    <h1 class="heading"> <span>Our</span> Featured Products</h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
            {% for p in featured %}
            <form action="{% url 'Home:addcart' p.id  %}" method="POST">
            {% csrf_token %}
            <div class="swiper-slide slide">
                <a href="#" class="btn2">{{ p.available }}</a>
                <div class="icons">
                    <button type="submit" class="btn-cart"> Add to Cart
                    </button>
                    <a href="{% url 'Home:cart' %}" type="submit" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-info-circle"></a>
                </div>
                <div class="image">
                    <img src="{{ p.product_image.url }}" alt="">
                </div>
                <div class="content">
                    <h3>{{p.name}}</h3>
                    <h2>{{p.price}}</h3>
                </div>
            </div>
            </form>
            {% endfor %}

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- Featured product section ends -->

<!-- skin section starts -->

<section class="medicine" id="medicine">

    <h1 class="heading"> <span>Our</span> Medicine Products </h1>

    <div class="swiper medicine-slider">

        <div class="swiper-wrapper">
            {% for p in medicine %}
            <form action="{% url 'Home:addcart' p.id  %}" method="POST">
            {% csrf_token %}
            <div class="swiper-slide slide">
                <a href="#" class="btn2">{{ p.available }}</a>
                <div class="icons">
                    <button type="submit" class="btn-cart"> Add to Cart
                    </button>
                    <a href="{% url 'Home:cart' %}" type="submit" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-info-circle"></a>
                </div>
                <div class="image">
                    <img src="{{ p.product_image.url }}" alt="">
                </div>
                <div class="content">
                    <h3>{{p.name}}</h3>
                    <h2>{{p.price}}</h3>
                </div>
            </div>
            </form>
            {% endfor %}

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- medicine section ends -->

<!-- skin section starts -->

<section class="skin" id="skin">

    <h1 class="heading"> <span>Our</span> Skin Products </h1>

    <div class="swiper skin-slider">

        <div class="swiper-wrapper">
            {% for p in skin %}
            <form action="{% url 'Home:addcart' p.id  %}" method="POST">
            {% csrf_token %}
            <div class="swiper-slide slide">
                <a href="#" class="btn2">{{ p.available }}</a>
                <div class="icons">
                    <button type="submit" class="btn-cart"> Add to Cart
                    </button>
                    <a href="{% url 'Home:cart' %}" type="submit" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-info-circle"></a>
                </div>
                <div class="image">
                    <img src="{{ p.product_image.url }}" alt="">
                </div>
                <div class="content">
                    <h3>{{p.name}}</h3>
                    <h2>{{p.price}}</h3>
                </div>
            </div>
            </form>
            {% endfor %}

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- skin section ends -->

<!-- deAl section starts  -->

<section class="deal">

    <div class="image">
        <img src="{% static 'image/pngwing.com (4).png' %}" alt="">
    </div>

    <div class="content">
        <span>Fleure Beauty's</span>
        <h3>Sunkissed Collection</h3>
        <a href="{% url 'Home:shop' %}" class="btn">Buy Here</a>
    </div>

</section>

<!-- deal section ends -->


</section>
{% else %}


    <!-- feature section starts -->

    <section class="featured" id="featured">

        <h1 class="heading"> <span>Our</span> Featured Products</h1>
    
        <div class="swiper featured-slider">
    
            <div class="swiper-wrapper">
                {% for p in featured %}
                <form action="{% url 'Home:addcart' p.id  %}" method="POST">
                {% csrf_token %}
                <div class="swiper-slide slide">
                    <a href="#" class="btn2">{{ p.available }}</a>
                    <div class="icons">
                        <button type="submit" class="btn-cart"> Add to Cart
                        </button>
                        <a href="{% url 'Home:cart' %}" type="submit" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-info-circle"></a>
                    </div>
                    <div class="image">
                        <img src="{{ p.product_image.url }}" alt="">
                    </div>
                    <div class="content">
                        <h3>{{p.name}}</h3>
                        <h2>{{p.price}}</h3>
                    </div>
                </div>
                </form>
                {% endfor %}
    
            </div>
    
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
    
        </div>
    
    </section>

    <!-- feature section ends -->
    

    <section class="about" id="about">

        <div class="video-container" data-aos="fade-right" data-aos-delay="300">
            <video src= "{% static 'image/The best care for your skin..mp4' %}" muted autoplay loop class="video"></video>
        </div>
    </section>


    <!-- skin section starts -->

    <section class="skin" id="skin">

        <h1 class="heading"> <span>Our</span> Skin Products </h1>
    
        <div class="swiper skin-slider">
    
            <div class="swiper-wrapper">
                {% for p in skin %}
                <form action="{% url 'Home:addcart' p.id  %}" method="POST">
                {% csrf_token %}
                <div class="swiper-slide slide">
                    <a href="#" class="btn2">{{ p.available }}</a>
                    <div class="icons">
                        <button type="submit" class="btn-cart"> Add to Cart
                        </button>
                        <a href="{% url 'Home:cart' %}" type="submit" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-info-circle"></a>
                    </div>
                    <div class="image">
                        <img src="{{ p.product_image.url }}" alt="">
                    </div>
                    <div class="content">
                        <h3>{{p.name}}</h3>
                        <h2>{{p.price}}</h3>
                    </div>
                </div>
                </form>
                {% endfor %}
    
            </div>
    
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
    
        </div>
    
    </section>    

    <!-- skin section ends -->

    <!-- deAl section starts  -->

    <section class="deal">

        <div class="image">
            <img src="{% static 'image/pngwing.com (4).png' %}" alt="">
        </div>

        <div class="content">
            <span>Fleure Beauty's</span>
            <h3>Sunkissed Collection</h3>
            <a href="{% url 'Home:login' %}" class="btn">Buy Here</a>
        </div>

    </section>

    <!-- deal section ends -->

    {% endif %}

{% endblock %}