{% extends 'base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock %}
{% block content %}

    <!-- blogs  section starts  -->

    <section class="blogs" id="blogs">

        <h1 class="heading"> Our <span>Portfolio</span></h1>

        <div class="swiper blogs-slider">

            <div class="swiper-wrapper">
                {% for obj in object_list %}
                <div class="swiper-slide slide">
                    <div class="image">
                        <img src="{{obj.image.url}}" alt="">
                    </div>
                    <div class="content">
                        <h3>{{obj.name}}</h3>
                        <p>{{obj.description}}</p>
                        <a href="{% url 'Home:portfolio_two' slug=obj.slug %}" class="btn">Read more</a>
                        <div class="icons">
                            <a href="#"> <i class="fas fa-calendar"></i>{{obj.date}} </a>
                            <a href="#"> <i class="fas fa-user"></i> By {{obj.name}} </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </section>

    <!-- blogs  section ends -->


{% endblock %}