{% extends 'base.html' %}
{% load static %}
{% block title %} Prescription {% endblock %}
{% block content %}
    <!-- header section ends -->


    <!-- contact section starts  -->

    <section class="contact">

        <h1 class="heading"> Prescription <span>Form</span> </h1>

        <div class="row">



            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Prescription Form</h3>
                <input type="text"  name="user" value="{{user.id}}"class="box">
                <input type="file" placeholder="image" name = "image" class="box">
                <input type="submit" value="Send" class="btn">
            </form>

            <div class="image"> 
                <img src = "{% static 'image/pres.png' %}" alt="">
            </div>

        </div>

    </section>

    <!-- contact section ends -->

{% endblock %}