{% comment %} {% extends 'base.html' %}
{% load static %}
{% block title %} Product Details {% endblock %}
{% block content %}


  <!-- products details starts -->
  <div class="container">
    <div class="box-container">

      <h1 class="heading"> <span>Product</span> Details </h1>

      <div class="box">
        <div class="image-container">
          <div class="small-image">
            {% if single_product.product_photo_1 %}
            <img src= "{{ single_product.product_photo_1.url }}"  alt="">
            {% endif %}
            {% if single_product.product_photo_2 %}
            <img src= "{{ single_product.product_photo_2.url }}" alt="">
            {% endif %}
            {% if single_product.product_photo_3 %}
            <img src= "{{ single_product.product_photo_3.url }}"alt="">
            {% endif %}
            {% if single_product.product_photo_3 %}
            <img src= "{{ single_product.product_photo_4.url }}" alt="">
            {% endif %}
          </div>
          <div class="big-image">
            <img src="{{ single_product.product_image.url }}" alt="">
          </div>
        </div>
        <div class="content">
          <h3>{{single_product.name}}</h3>
          <p>{{ single_product.description | safe }}</p>
          <br>
          <br>
          <p> <span style="font-weight: bold;">Mfg. Date : </span>14 december 2021</p>
          <p><span style="font-weight: bold;">Exp. Date : </span>14 august 2022</p>

          <div class="price">Rs.{{single_product.price}} </div>
          <a href="#" class="btn">Add to cart</a>
        </div>
      </div>
    </div>
  </div>

  <!-- products details ends -->
  <script src="{% static 'js/product.js' %}"></script>

  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  
{% endblock %} {% endcomment %}