 
{% load static %}
 
{% block content %}
 
<link rel="shortcut icon" href=" {% static 'image/logo.png' %}">
<link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
<title>
  Mediserv+ | Reset Password
</title>
    <section>

        <h1 class="heading"> Reset <span> Password</span> </h1>
       
     
        
        <div class="login-box">
         
          <img src="{% static 'image/logo.png' %}" class="avatar">
          
              <h1>Change Your Password Here...</h1>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                  <input type="Password" name="Password" placeholder="Old Password" required>
                 
                  <input type="Password" name="Password" placeholder="New Password" required>
                  
                  <input type="Password" name="Password" placeholder="Confirm Password" required>

                   <br><br>

                  <input type="submit" name="submit" value="Update">
                    
                  </form>
              
              
              </div>
     
         
             
     
     </section>
     {% endblock %}
     

 