@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #51b6b6;
    border-radius: 5rem;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 3.5rem;
    color: #130f40;
    padding-bottom: 2rem;
    text-align: center;
}

.heading span {
    color: #eb4d4b;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #51b6b6;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background: #130f40;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
    background: rgb(255, 255, 255);
}

.header .logo {
    font-size: 2.5rem;
    color: #130f40;
    font-weight: bolder;
}

.header .logo i {
    color: #51b6b6;
}

.header .navbar a {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: #51b6b6;
}

.header .icons div,
.header .icons a {
    color: #1ea1b3;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div,
.header .icons a:hover {
    color: #0b5674;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: -105%;
    width: 50rem;
    height: 5.5rem;
    background: rgb(255, 255, 255);
    border-radius: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.header .search-form.active {
    right: 2rem;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    text-transform: none;
    color: #130f40;
    padding: 0 1.2rem;
}

.header .search-form label {
    font-size: 2.2rem;
    margin-right: 1.7rem;
}

#menu-btn {
    display: none;
}


.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    border-radius: .5rem;
    background: rgb(68, 184, 199);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    color: #130f40;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: #1db9ce;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
        opacity: 0;
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
        opacity: 0;
    }
}
.blogs{
    background-color: #aeeaf5;
}
.blogs .heading {
    margin-top: 10rem;
}


.blogs .slide {
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #1ea1b3;
}

.blogs .slide .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .slide .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.blogs .slide:hover .image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.blogs .slide .content {
    padding: 2rem;
}

.blogs .slide .content h3 {
    font-size: 2.2rem;
    color: #130f40;
}

.blogs .slide .content p {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    line-height: 2;
    padding: 1rem 0;
}

.blogs .slide .content .icons {
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blogs .slide .content .icons a {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
}

.blogs .slide .content .icons a i {
    padding-right: .5rem;
    color: #0da0c5;
}

.blogs .slide .content .icons a:hover {
    color: #0da0c5;
}

.blog2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #aeeaf5;
  margin-top: 8rem;
}

.blog2 .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.blog2 .image img {
  width: 100%;
  border-radius: 1rem;
}

.blog2 .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.blog2 .content .title {
  font-size: 3rem;
  padding-top: .5rem;
  color: #130f40;
}

.blog2 .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
}

.footer {
    background: rgb(210, 245, 251, 255);
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: #117eb1;
}

.footer .box-container .box a:hover {
    color: #0da0c5;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .share {
    padding-top: 2rem;
    text-align: center;
}

.footer .share a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    background: #027981;
    color: #fff;
    margin: .3rem;
}

.footer .share a:hover {
    background-color: #0da0c5;
    color: #130f40;
}



.footer .credit {
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(0, 0, 0);

    font-size: 2rem;
}

.footer .credit span {
    color: #04adb3;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem;
        display: block;
    }

    .header .search-form {
        width: 100%;
        top: 100%;
        border-radius: 0;
    }

    .header .search-form.active {
        right: 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .blogs .swiper-button-next,
    .blogs .swiper-button-prev {
        display: none;
    }
}