@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(8, 8, 8);
  background-color: #333; 
  width: 100%;
  margin: 0; 
}

p, button, input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 5px 10px;
  margin: 1px;
}

h2 {
  text-align: center;
  color:black;
}

h1 {
  text-align: center;
  color:black;
  margin-top: 0rem;
}

table {
  width: 100%;
  text-align: left;
}

table, th, td {
  border: 1px solid rgb(6, 7, 7);
  border-collapse: collapse;
  padding: 10px;
}

tbody button {
  color: rgb(11, 9, 9);
  background-color: tomato;
  border: none;
  border-radius: 3px;
}

tbody button:hover {
  background-color: #da472d;
}

input[type="number"] {
  width: 50px;
}

#price_product {
  width: 100px;
}

.container {
  width: 90%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5em;
}

.structure {
  width: 80%;
  background-color: rgb(159, 233, 233);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}