@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #51b6b6;
    border-radius: 5rem;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 3.5rem;
    color: #130f40;
    padding-bottom: 2rem;
    text-align: center;
}

.heading span {
    color: #eb4d4b;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #51b6b6;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background: #130f40;
}
.btn2 {
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #02643f;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}
.btn3 {
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #cf0303;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
    background: rgb(255, 255, 255);
}

.header .logo {
    font-size: 2.5rem;
    color: #130f40;
    font-weight: bolder;
}

.header .logo i {
    color: #51b6b6;
}

.header .navbar a {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: #51b6b6;
}

.header .icons div,
.header .icons a {
    color: #1ea1b3;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div,
.header .icons a:hover {
    color: #0b5674;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: -105%;
    width: 50rem;
    height: 5.5rem;
    background: rgb(255, 255, 255);
    border-radius: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.header .search-form.active {
    right: 2rem;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    text-transform: none;
    color: #130f40;
    padding: 0 1.2rem;
}

.header .search-form label {
    font-size: 2.2rem;
    margin-right: 1.7rem;
}

#menu-btn {
    display: none;
}

.home {
    background: #99dfec;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .content {
    flex: 1 1 42rem;
}

.home .image {
    flex: 1 1 42rem;
}

.home .image img {
    margin-top: 5rem;
    width: 100%;
}

.home .content h3 {
    color: #130f40;
    font-size: 3.5rem;
    padding-bottom: .5rem;
}

.home .content h1 {
    margin-top: 5rem;
    color: var(--black);
    font-size: 4rem;
}

.home .content p {
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    border-radius: .5rem;
    background: rgb(68, 184, 199);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    color: #130f40;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: #1db9ce;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
        opacity: 0;
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
        opacity: 0;
    }
}

.rv {
    background-color: #c9f3fad5;
}

.rv .rv-slider .slide {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.rv .rv-slider .slide .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #51b6b6b7;
    height: 48rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: .5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 1;
}

.rv .rv-slider .slide .icons h3 {
    font-size: 2rem;
    height: 5rem;
    top: auto;
    max-width: 100%;
    line-height: 5rem;
    text-align: center;
    color: #51b6b6;
    background: #fff;
    border-radius: .5rem;
}

.rv .rv-slider .slide .icons a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    color: #51b6b6;
    background: #fff;
    border-radius: .5rem;
}

.rv .rv-slider .slide .icons a:hover {
    background-color: #130f40;
    color: white;
}

.rv .rv-slider .slide:hover .icons {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rv .rv-slider .slide .image {
    height: 35rem;
    width: 100%;
    overflow: hidden;
}

.rv .rv-slider .slide .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.rv .rv-slider .slide:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.rv .rv-slider .slide .content {
    padding: 1rem 1.5rem;
    text-align: center;
}

.rv .rv-slider .slide .content h3 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}

.rv .rv-slider .slide .content h2 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: #69ccf0;

}

.about .video-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .video-container video {
    border-radius: 1rem;
    width: 100%;
}



.featured {
    background-color: #c9f3faf8;
}

.featured .featured-slider .slide {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.featured .featured-slider .slide .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #51b6b6b7;
    height: 48rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: .5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 1;
}

.featured .featured-slider .slide .icons a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    color: #51b6b6;
    background: #fff;
    border-radius: .5rem;
}

.featured .featured-slider .slide .icons a:hover {
    background-color: #130f40;
    color: white;
}

.featured .featured-slider .slide:hover .icons {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.featured .featured-slider .slide .image {
    height: 35rem;
    width: 100%;
    overflow: hidden;
}

.featured .featured-slider .slide .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.featured .featured-slider .slide:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.featured .featured-slider .slide .content {
    padding: 1rem 1.5rem;
    text-align: center;
}

.featured .featured-slider .slide .content h3 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}

.featured .featured-slider .slide .content h2 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}

.skin {
    background-color: #c9f3fad5;
}

.skin .skin-slider .slide {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.skin .skin-slider .slide .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #51b6b6b7;
    height: 48rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: .5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 1;
}

.skin .skin-slider .slide .icons a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    color: #51b6b6;
    background: #fff;
    border-radius: .5rem;
}

.skin .skin-slider .slide .icons a:hover {
    background-color: #130f40;
    color: white;
}

.skin .skin-slider .slide:hover .icons {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.skin .skin-slider .slide .image {
    height: 35rem;
    width: 100%;
    overflow: hidden;
}

.skin .skin-slider .slide .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.skin .skin-slider .slide:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.skin .skin-slider .slide .content {
    padding: 1rem 1.5rem;
    text-align: center;
}

.skin .skin-slider .slide .content h3 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}

.skin .skin-slider .slide .content h2 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}


.medicine {
    background-color: #9ee6f3d5;
}

.medicine .medicine-slider .slide {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.medicine .medicine-slider .slide .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #51b6b6b7;
    height: 48rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: .5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 1;
}

.medicine .medicine-slider .slide .icons a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    color: #51b6b6;
    background: #fff;
    border-radius: .5rem;
}

.medicine .medicine-slider .slide .icons a:hover {
    background-color: #130f40;
    color: white;
}

.medicine .medicine-slider .slide:hover .icons {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.medicine .medicine-slider .slide .image {
    height: 35rem;
    width: 100%;
    overflow: hidden;
}

.medicine .medicine-slider .slide .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.medicine .medicine-slider .slide:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.medicine .medicine-slider .slide .content {
    padding: 1rem 1.5rem;
    text-align: center;
}

.medicine .medicine-slider .slide .content h3 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}

.medicine .medicine-slider .slide .content h2 {
    font-size: 2rem;
    color: #130f40;
    font-weight: normal;
}

.deal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(20.1%, #f9f9f9));
    background: linear-gradient(rgb(210, 245, 251, 255) 20%, rgb(174, 234, 245, 255)20.1%);
}

.deal .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.deal .image img {
    width: 40rem;
}

.deal .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.deal .content span {
    color: #eb4d4b;
    font-size: 3.7rem;
}

.deal .content h3 {
    color: #130f40;
    font-size: 3rem;
    padding: .5rem 0;
}

.deal .content p {
    color: #666;
    font-size: 2rem;
}

.footer {
    background: rgb(210, 245, 251, 255);
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: #117eb1;
}

.footer .box-container .box a:hover {
    color: #0da0c5;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .share {
    padding-top: 2rem;
    text-align: center;
}

.footer .share a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    background: #027981;
    color: #fff;
    margin: .3rem;
}

.footer .share a:hover {
    background-color: #0da0c5;
    color: #130f40;
}



.footer .credit {
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(0, 0, 0);

    font-size: 2rem;
}

.footer .credit span {
    color: #04adb3;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

.option-btn{
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #03994e;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}
.delete-btn{
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #cf0303;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1.3rem;
}

.btnshop{
    display: inline-block;
    padding: .9rem 1rem;
    border-radius: .5rem;
    background: #03994e;
    color: #fff;
    margin-top:1rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-left:61px;

}
.header .user-box {
    position: absolute;
    top: 120%;
    right: 2rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
    background-color: #04adb3;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    border: var(--border);
    display: none;
    animation: fadeIn 0.2s linear;
}
.header .user-box p {
    font-size: 2rem;
    color: #f5f5f5;
    margin-bottom: 1.5rem;
}
.header .user-box p span {
    color: #0b5674;
} 

.header .user-box.active {
    display: inline-block;
}

@keyframes fadeIn{
    0%{
        trasnsform:translateY(1rem);
        opacity: .2s;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem;
        display: block;
    }

    .header .search-form {
        width: 100%;
        top: 100%;
        border-radius: 0;
    }

    .header .search-form.active {
        right: 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .deal .image img {
        width: 100%;
    }

    .deal .content {
        padding-top: 2rem;
        text-align: center;
    }
}

