* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.row {
    background-color: #8ff8a0;
    border-radius: 2%;
    padding: 5rem 5rem 5rem 5rem ;
}


.form-control::-webkit-input-placeholder {
    color: rgb(12, 12, 149);
    text-align: center;
}

.btn {
    background-color: blue;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    color: white;
}

.form-control::-webkit-input-placeholder {
    color: rgb(12, 12, 149);
    text-align: center;

}

.form-control-lg {
    background-color: #8ff8a0;
    border-color: rgb(12, 12, 149);
    border-radius: 50px;

}

p {
    text-align: center;
}

.btn {
    background-color: blue;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}

.d-block {
    width: 100%;
    height: 100%;
}
a{
    color: blue;
}