@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

:root {
    --border-color: rgba(0, 0, 0, .3);
    --background: rgba(12, 144, 161, 0.616);
    --box-shadow: rgba(0, 0, 0, .3);
    --text-color: #333;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #51b6b6;
    border-radius: 5rem;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 3.5rem;
    color: #130f40;
    padding-bottom: 2rem;
    text-align: center;
}

.span {
    color: #fff;
}

.heading span {
    color: #eb4d4b;
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #51b6b6;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background: #130f40;
}

.btn2 {
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #02643f;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn3 {
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #cf0303;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
    background: rgb(255, 255, 255);
}

.header .logo {
    font-size: 2.5rem;
    color: #130f40;
    font-weight: bolder;
}

.header .logo i {
    color: #51b6b6;
}

.header .navbar a {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: #51b6b6;
}

.header .icons div,
.header .icons a {
    color: #1ea1b3;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div,
.header .icons a:hover {
    color: #0b5674;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: -105%;
    width: 50rem;
    height: 5.5rem;
    background: rgb(255, 255, 255);
    border-radius: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.header .search-form.active {
    right: 2rem;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    text-transform: none;
    color: #130f40;
    padding: 0 1.2rem;
}

.header .search-form label {
    font-size: 2.2rem;
    margin-right: 1.7rem;
}

#menu-btn {
    display: none;
}

.container {
    padding: 10rem 7%;
    position: relative;
    margin-top: 8rem;
    background-color: #99dfec;
}

.container .heading {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    padding: 0.8rem;
}

.container .heading span {
    text-transform: uppercase;
    color: #fcfcfc;
}

.container .box-container {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-shadow: 0 5px 10px var(--box-shadow);
    background: var(--background);
    padding: 0 15px;
}

.container .box-container .box {
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 5px 10px var(--box-shadow);
    background: var(--background);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}



.container .box-container .box .image-container {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.container .box-container .box .content {
    flex: 1 1 350px;
}

.container .box-container .box .image-container .small-image {
    width: 20%;
}

.container .box-container .box .image-container .big-image {
    width: 80%;
}

.container .box-container .box .image-container .small-image img {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.container .box-container .box .image-container .small-image img:hover {
    background: rgba(0, 0, 0, .2);
}

.container .box-container .box .image-container .big-image img {
    width: 100%;
    padding: 10px;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, .2));
}

.container .box-container .box .content h3 {
    color: black;
    font-size: 35px;
}


.container .box-container .box .content p {
    color: #fff;
    padding: 0.3rem 0;
    font-size: 1.8rem;
}

.container .box-container .box .content .price {
    color: #fff;
    padding: 5px 0;
    font-size: 2rem;
    font-weight: bolder;
}


.container .box-container .box .content .btn {
    display: inline-block;
    background: #0b5674;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 10px;
    font-size: 17px;
    padding: 8px 30px;
}

.container .box-container .box .content .btn:hover {
    background: #0f79a3;
    color: #fff;
}



.footer {
    background: rgb(210, 245, 251, 255);
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: #117eb1;
}

.footer .box-container .box a:hover {
    color: #0da0c5;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .share {
    padding-top: 2rem;
    text-align: center;
}

.footer .share a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    background: #027981;
    color: #fff;
    margin: .3rem;
}

.footer .share a:hover {
    background-color: #0da0c5;
    color: #130f40;
}



.footer .credit {
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(0, 0, 0);

    font-size: 2rem;
}

.footer .credit span {
    color: #04adb3;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem;
        display: block;
    }

    .header .search-form {
        width: 100%;
        top: 100%;
        border-radius: 0;
    }

    .header .search-form.active {
        right: 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .products .box-container .box {
        width: 100%;
    }
}