{% extends 'baseprofile.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}  profile{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
 
{% block content %}
    <!-- ================================
    Start Content
    ================================= -->
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3">Edit your Details</h1><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="lightBg">
        <div class="container">
            <form id="editForm" method="POST" action="/editprofile/">
              {% csrf_token %}
              {{form.as_p}}
              
              
                
                <button class="btn btn-secondary">Post</button>
            </form><br>  
        </div>
      </div>
    </section>
  
    {%endblock%}