{% extends 'base.html' %}

{% block content %} 
{% load static%}

                                                                         
<div class="row">
    <div class="col-2">
        <h1>MEDISERV +</h1>
        <p><b>Give your skin a little love.</b></p>
        <a href="" class="btnstart"> Get Started</a>

    </div>
    <div class="col-2">
        <img src="{% static 'image/fy.png' %}">
    </div>
</div>


</div>
</div>


                                               <!-- offer section start -->


<h1 class="heading"> Our <span>Offers</span> </h1>
<div class="slideshow-container">
    
<div class="mySlides fade">
     
  <img src=" {% static 'image/offer1.png' %}" style="width:100%">
  <a href="#" class="btn">Shop Now</a>
   
</div>

<div class="mySlides fade">
 
  <img src=" {% static 'image/offer2.png' %}" style="width:100%">
  <a href="#" class="btn">Shop Now</a>
</div>
 

<div class="mySlides fade">
     
  <img src=" {% static 'image/para.jpg' %}" style="width:100%">
  <a href="#" class="btn">Shop Now</a>
   
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>   

                                                <!-- offer section end  -->


                                                 <!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> Our <span>Features</span> </h1>

    <div class="box-container">
        <div class="box">
            <p> <span style="color:green"><b>In stock</b></span> </p>
            <img src="{% static 'image/logo.png' %}" alt="">
            <h3>Sinoz Serum</h3>
            <p>Rs.2300</p>
            <a href="#" class="btn">Add To Cart</a>
        </div>

        <div class="box">
            <p> <span style="color:red"><b>out of stock</b></span> </p>
            <img src="{% static 'image/W-L.jpg' %}" alt="">
            <h3> W-Lab Cream</h3>
            <p>Rs.2800</p>
            <a href="#" class="btn">Add To Cart</a>
        </div>

        <div class="box">
            <p> <span style="color:green"><b>In stock</b></span> </p>
            <img src="{% static 'image/D3.jpg' %}" alt="">
            <h3>Vitamin D3</h3>
            <p>Rs.350</p>
            <a href="#" class="btn">Add To Cart</a>
        </div>

</div>

</section>

                                              <!-- features section ends -->



                                              <!-- Skin Products section starts  -->

<section class="skin" id="skin">

    <h1 class="heading"> Our  <span>Skin</span> Products</h1>

    <div class="box-container">

        <div class="box">
            <p> <span style="color:green"><b>In stock</b></span> </p>
            <img src="{% static 'image/logo.png' %}" alt="">
            <h3>Sinoz Serum</h3>
            <p>Rs.2300</p>
            <a href="#" class="btn">Add To Cart</a>
        </div>

        <div class="box">
            <p> <span style="color:green"><b>In stock</b></span> </p>
            <img src="{% static 'image/logo.png' %}" alt="">
            <h3>Misolo Serum</h3>
            <p>Rs.2300</p>
            <a href="#" class="btn">Add To Cart</a>
        </div>

        <div class="box">
            <p> <span style="color:red"><b>out of stock</b></span> </p>
            <img src="{% static 'image/logo.png' %}" alt="">
            <h3>Ordinary Products</h3>
            <p>Rs.4500</p>
            <a href="#" class="btn">Add To Cart</a>
        </div>
       
        

    </div>

</section>

                                                 <!-- Skin Products section ends -->



                                                <!--  Medicine section starts  -->

<section class="medicine" id="medicine">

    <h1 class="heading"> Our  <span>Medicine</span> </h1>

    <div class="box-container">

        <div class="box">
            <p> <span style="color:green"><b>In stock</b></span> </p>
            <img src="{% static 'image/para.jpg' %}" alt="">
            <h3>Paracetamol</h3>
            <p>Rs.130</p>
            <a href="#" class="btn">Add To Cart</a>
        </div>

        <div class="box">
            <p> <span style="color:green"><b>In stock</b></span> </p>
            <img src="{% static 'image/D3.jpg' %}" alt="">
            <h3>Vitamin D3</h3>
            <p>Rs.350</p>
            <a href="#" class="btn">Add To Cart</a>
        </div>

        <div class="box">
            <p> <span style="color:red"><b>out of stock</b></span> </p>
            <img src="{% static 'image/Cal.jpg' %}" alt="">
            <h3>Clalcium</h3>
            <p>Rs.280</p>
            <a href="#" class="btn">Add To Cart</a>
        </div>

        

    </div>

</section>

                                           <!-- Medicine section ends -->


                              <!-- script for offer section-->

<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }

    </script>


{% endblock content %} 